$font-lato: 'Lato', sans-serif;

$color-primary: #eb4d4c;
$color-secondary: rgba(247,247,247,255);
$breakpoints: (
 mobile: 650px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
    font-size: 1.4rem;
    }
    }

    
@mixin centering($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

*,::before,::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: $font-lato;
}



